<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>react主页</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="../../favicon.ico">

	<!-- Web Fonts -->
	<!--<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700'>
-->
	<!-- CSS Global Compulsory -->

	<!-- CSS Header and Footer -->

	<!-- CSS Implementing Plugins -->

	<!-- CSS Theme -->

	<!-- CSS Customization -->
</head>
<body>
    <!--Wrapper-->
    <div class="wrapper">

        <div class="demo1" id="demo1"></div>

        <div class="demo2" id="demo2"></div>


    </div>
    <!--End Wrapper-->




    <!-- JS Global Compulsory -->
    <script src="../../assets/plugins/react/react.js"></script>
    <script src="../../assets/plugins/react/react-dom.js"></script>
    <script src="https://cdn.bootcss.com/babel-standalone/6.22.1/babel.min.js"></script>
    <!-- JS Implementing Plugins -->

    <!-- JS Customization -->
    <script type="text/babel">
      ReactDOM.render(
        <h1>Hello, world!</h1>,
        document.getElementById('demo1')
      );
    </script>
    <!-- JS Page Level -->
    <!--[if lt IE 9]>
        <script src="../../assets/plugins/respond.js"></script>
        <script src="../../assets/plugins/html5shiv.js"></script>
        <script src="../../assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->

</body>
</html>