@charset "UTF-8";

/*
面试题汇总 style*/
.title-contents{
    margin-top: 20px;
}
.title-contents h2{
    border:1px solid #eee;
    padding: 10px 0;
    text-indent: 10px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    font-weight: bold;
}
.title-contents p.padding-left-20{
    padding: 4px 20px;
    line-height: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.title-contents p.padding-left-40{
    padding: 4px 0 4px 40px ;
    line-height: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}