<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<title>简历</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Favicon -->
	<link rel="shortcut icon" href="../favicon.ico">

	<!-- Web Fonts -->
	<!--<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700'>
-->
	<!-- CSS Global Compulsory -->
	<link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">

	<!-- CSS Header and Footer -->
	<link rel="stylesheet" href="../assets/css/headers/header.css">
	<link rel="stylesheet" href="../assets/css/footers/footer.css">

	<!-- CSS Implementing Plugins -->
	<link rel="stylesheet" href="../assets/css/animates.css">
	<link rel="stylesheet" href="../assets/plugins/font-awesome/css/font-awesome.min.css">

	<!-- CSS Theme -->

	<!-- CSS Customization -->
	<link rel="stylesheet" href="../assets/css/common.css">
	<link rel="stylesheet" href="../assets/css/custom.css">
</head>
<body id="body" class="header-fixed">
    <!--Wrapper-->
    <div class="wrapper">
	    <!--Header-->
        <div class="header header-static">
            <!--topBar-->
            <div class="topBar">
                <!--Search-->
                <div class="topBar-search-block">
                    <div class="container">
                        <form action="" class="form">
                            <input type="text" name="" value="" placeholder="Search" class="form-control">
                            <div class="search-close"><i class="fa fa-close"></i></div>
                        </form>
                    </div>
                </div>
               <!-- End Search-->

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-8 col-xs-8">
                            <div class="topBar-time-show">
                                北京时间：
                                <span class="topBar-time"></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-4 text-right clearfix">
                            <i class="fa fa-search search-btn pull-right"></i>
                            <ul class="topBar-list pull-right hidden-xs">
                                <li class="topBar-list-lis">
                                    <a href="" title="">登录</a>
                                </li>
                                <li class="topBar-list-lis">
                                    <a href="" title="">注册</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End topbar-->

            <!--navBar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="menu-container">
				        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="sr-only"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="navbar-brand">
                               <!-- <a href="javascript:void(0);" title="">
                                    <img src="assets/img/header-logo.png" alt="" class="img-responsive">
                                </a>-->
                                weekscosplay.com
                            </div>
                        </div>
                    </div>

                    <!-- End Brand and toggle get grouped for better mobile display -->
                    <div class="collapse navbar-collapse navbar-responsive-collapse">
                        <div class="menu-container">
                            <ul class="nav navbar-nav">
                                <!--首页-->
                                <li class="dropdown active">
                                    <a href="javascript:void(0);" title="">首页</a>
                                </li>
                                <!--End 首页-->

                                 <!--Django-->
                                <li class="dropdown">
                                    <a href="javascript:void(0);" title="" class="dropdown-toggle" data-toggle="dropdown">
                                        Django
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:void(0);" title="">Django-01</a>
                                        </li>
                                    </ul>
                                </li>
                                 <!--End Django-->

								  <!--web App-->
                                <li class="dropdown">
                                    <a href="javascript:void(0);" title="" class="dropdown-toggle" data-toggle="dropdown">
                                        webApp
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-submenu">
                                            <a href="javascript:void(0);" title="" target="_blank">HTML5</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="javascript:void(0);" title="">HTML5-01</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="javascript:void(0);" title="" target="_blank">手机端</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="rem.html" title="">手机端rem</a>
                                                </li>
                                                <li>
                                                    <a href="apps/webApp/questions/index.html" title="">微信端答题项目</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <!--end web App-->

                                 <!--Vue.js-->
                                <li class="dropdown">
                                    <a href="javascript:void(0);" title="" class="dropdown-toggle" data-toggle="dropdown">
                                        vue.js
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:void(0);" title="">vue.js-01</a>
                                        </li>
                                    </ul>
                                </li>
                                 <!--End Vue.js-->

                                 <!--Projects-->
                                <li class="dropdown">
                                    <a href="javascript:void(0);" title="" class="dropdown-toggle" data-toggle="dropdown">
                                      Projects
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="http://www.topdy.cn" title="">项目一：www.topdy.cn</a>
                                        </li>
                                        <li>
                                            <a href="http://dingxiangidc.com/" title="">项目二：dingxiangidc.com</a>
                                        </li>
                                        <li>
                                            <a href="http://h5.topdy.cn" title="">项目三：h5.topdy.cn</a>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a href="javascript:void(0);" title="">项目四：webApp</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="apps/webApp/loveEachOther/index.html" title="">两情相悦一</a>
                                                </li>
                                                <li>
                                                    <a href="apps/webApp/loveEachOther/index-02.html" title="">两情相悦二</a>
                                                </li>
                                                <li>
                                                    <a href="apps/webApp/loveEachOther/index-03.html" title="">两情相悦三</a>
                                                </li>
                                                <li>
                                                    <a href="apps/webApp/loveEachOther/index-03-01.html" title="">两情相悦四</a>
                                                </li>
                                                <li>
                                                    <a href="apps/webApp/loveEachOther/index-04.html" title="">两情相悦五</a>
                                                </li>
                                                <li>
                                                    <a href="apps/webApp/loveEachOther/index-05.html" title="">两情相悦六</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                 <!--End Projects-->

                                 <!--about Me-->
                                <li>
                                    <a href="resuMe.html" title="" target="_blank">
                                      about Me
                                    </a>
                                </li>
                                 <!--End about Me-->


                                 <!--about Me-->
                                <li>
                                    <a href="Audition.html" title="" target="_blank">
                                      前端问题汇总
                                    </a>
                                </li>
                                 <!--End about Me-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--End navBar -->
        </div>
        <!-- End Header-->

		<div class="container content-md parallaxBg">
			<div class="row">
				<table class="table table-bordered table-style" border="1" cellpadding="50%" cellspacing="80">
					<caption class="text-center">About Me</caption>
					<tbody>
						<tr>
							<td>Name:</td>
							<td>赵立昆</td>
							<td>sex:</td>
							<td>男</td>
							<td rowspan="4" class="hidden-xs hidden-sm" style="padding: 0;width: 200px;">
								<img src="../assets/img/touxiang-logo.png" alt="" class="img-responsive center-block" width="200">
							</td>
						</tr>
						<tr>
							<td>Birthday:</td>
							<td>1987/10/20</td>
							<td>Area:</td>
							<td>北京·昌平</td>
						</tr>
						<tr>
							<td>Working:</td>
							<td>3年</td>
							<td>Email:</td>
							<td class="email-small">zhlikun_WEB@163.com</td>
						</tr>
						<tr>
							<td>QF:</td>
							<td>本科(在读)</td>
							<td>School:</td>
							<td>西北工业大学</td>
						</tr>
						<tr>
							<td>Major:</td>
							<td colspan="4">
								计算机
							</td>
						</tr>
						<tr>
							<td>webSite:</td>
							<td colspan="4">
								<a href="http://www.weekscosplay.com">
									www.weekscosplay.com
								</a>
							</td>
						</tr>
						<tr>
							<td>gitHub:</td>
							<td colspan="4">
								<a href="https://github.com/zhaolikuns">
									https://github.com/zhaolikuns
								</a>
							</td>
						</tr>
						<tr>
							<td>掌握技能</td>
							<td colspan="4">
								<span class="span-style one-style">
									1、熟悉DIV+CSS进行静态页面布局，拥有良好的代码习惯，结构规范，命名准确。熟悉H5/CSS3的常用内容。
								</span>
								<span class="span-style">
									2、懂得基础网站性能优化。熟练Ajax、跨域(JSONP)、jQuery。
								</span>
								<span class="span-style">
									3、熟悉各个主流浏览器的常见兼容性问题且所有代码皆能手写（html，js，jQuery）
								</span>
								<span class="span-style">
									4、良好的团队合作精神，自学及抗压能力。
								</span>
								<span class="span-style">
									5、并有完整的PC/webApp项目开发经验。
								</span>
								<span class="span-style">
									6、熟悉基于bootstrap的PC端及其手机端的模块化的开发。
								</span>
								<span class="span-style">
									7、熟悉Django mezzanine框架嵌套界面。
								</span>
								<span class="span-style">
									8、使用LESS、GIT。
								</span>
								<span class="span-style">
									9、使用rem进行手机端的开发。
								</span>
							</td>
						</tr>
						<tr>
							<td>求职意向</td>
							<td class="" colspan="4">
								<table class="table double-table-style">
									<tbody>
										<tr>
											<td>到岗时间:</td>
											<td>一周</td>
										</tr>
										<tr>
											<td class="double-td-style">工作性质:</td>
											<td class="double-td-style">全职</td>
										</tr>
										<tr>
											<td class="double-td-style">希望行业:</td>
											<td class="double-td-style">互联网/电子行业</td>
										</tr>
										<tr>
											<td class="double-td-style">目标地点:</td>
											<td class="double-td-style">北京</td>
										</tr>
										<tr>
											<td class="double-td-style">期望薪水:</td>
											<td class="double-td-style">8-10K</td>
										</tr>
										<tr>
											<td class="double-td-style">目标只能:</td>
											<td class="double-td-style">Web前端开发工程师(webApp)</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td>工作经验</td>
							<td colspan="4">
								<table class="table working-style">

									<tr class="working-style-one-bottom">
										<td>
											<table class="table working-style-one">
												<tr>
													<td>2016/9—至今：北京鼎云科技发展有限公司</td>
												</tr>
												<tr>
													<td>所属行业：互联网</td>
												</tr>
												<tr>
													<td>技术部门：研发组</td>
												</tr>
												<tr>
													<td>
														<span class="working-span-style">
															1、基于Django + mezzanine + bootstrap开发专业级的商业模板，编写CSS style 组件及其js方法。
														</span>
														<span>
															2、基于Django + mezzanine + H5开发手机端应用。
														</span>
														<span>
															3、从开发者角度、用户角度、市场角度、行业角度去开发模块化、重用性高的代码。
														</span>
														<span>
															4、掌握了GIT。（git add 、git checkout 、git commit、git push、git pull、git branch）。
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>


									<tr class="working-style-two-bottom">
										<td>
											<table class="table working-style-two">
												<tr>
													<td>2014/3—2016/9：北京华胜鸣天科技有限公司</td>
												</tr>
												<tr>
													<td>所属行业：互联网</td>
												</tr>
												<tr>
													<td>技术部门：研发组</td>
												</tr>
												<tr>
													<td>
														<span class="working-span-style">
															1、主要负责网站页面用户体验前端开发，信息维护，执行w3c标准进行网站重构。 
														</span>
														<span>
															2、使用HTML/CSS、javaScript、jQuery、Ajax等各种web技术公司的首页，后台页面，登录页面等多个页面的效果图制作。
														</span>
														<span>
															3、使用前端调试工具（开发者工具）结合自身的开发经验，解决常见问题和各种兼容性问题。
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>

								</table>
							</td>
						</tr>

						<!--项目-->
						<tr>
							<td>项目经验</td>
							<td colspan="4">
								<table class="table margin-bottom-0">
									<tr>
										<td class="project-outter-td-style">
											<table class="table margin-bottom-dotted-style margin-bottom-0">
												<tr>
													<td colspan="5" class="text-align-left">
														1、微信公众号 在线答题 --四川博盛永业工程技术有限公司
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-20">
														项目介绍：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															1、后台获取登录人员的授权信息，允许用户进入答题界面。
														</span>
														<span>
															2、答题系统分为试卷、答题、答题结果三个大部分。
														</span>
														<span>
															 3、用户试卷的题目分为多选和单选，选择答案后，可以点击下一题按钮，也可以点击上一题按钮。
														</span>
														<span>
															4、每个试卷至少有两个题，第一题界面只包含下一题按钮，最后一题界面包含上一题和提交答案按钮，中间题目的界面包含上一题和下一题按钮。每一题不能有空选答案，否则点击提交按钮时，会提示你需要答完全部的试题。
														</span>
														<span>
															 5、提交答案后，进入计分和正确答题数量界面，以便于用户查看自己答对的题目数量及其所得分数。
														</span>
														<span>
															 6、用户还可以查看原先答题记录。以列表的形式展示，点击列表，弹出答题记录遮罩层，在遮罩层上点击查看历史记录，查看自己原先答过的试题信息
														</span>
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														项目URL：四川博盛永业工程技术有限公司（公众号）
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														项目角色：前端工程师
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														责任描述：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															 1、负责网站用户体验的前端开发，基于自己开发的Django + mezzanine + Web前端的模板。
														</span>
														<span>
															 2、使用HTML/CSS、jquery、rem进行开发编写，适配了大部分的手持设备。
														</span>
														<span>
															 3、使用前端调试工具（开发者工具）console。、Network
														</span>
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														开发者环境/工具：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															Mac系统、pyCharm、django-1.8、Python-2.7/3.6、virtualenv
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="project-outter-td-style">
											<table class="table margin-bottom-dotted-style margin-bottom-0">
												<tr>
													<td colspan="5" class="text-align-left">
														2、网上购物商城webApp -- 快乐生鲜
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-20">
														项目介绍：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															 1、用户在没有登陆的情况下，可以选择、查看、可以把商品加入到购物车、点击购买按钮时，提示用户登陆；
           在用户登陆的情况下，购物车的物品还保持存在。


														</span>
														<span>
															2、当用户点击商品列表的 + -按钮时，会跟库存相关联，库存数量为0的时候，用户就不能继续点击 + 号进行购买。
														</span>
														<span>
															 3、主要负责的是Django + Web前端(rem)的编写工作，跟后台进行数据交互的时候，用到了Ajax的异步处理、缓存技术
														</span>
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														项目URL：快乐生鲜
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														项目角色：前端工程师
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														责任描述：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															  1、负责网站用户体验的前端开发，基于自己开发的Django + mezzanine + Web前端的模板。
														</span>
														<span>
															2、使用HTML/CSS、jquery、rem进行开发编写，适配了大部分的手持设备。
														</span>
														<span>
															 3、使用前端调试工具（开发者工具）console。、Network
														</span>
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														开发者环境/工具：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															Mac系统、pyCharm、django-1.8、Python-2.7/3.6、virtualenv
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="project-outter-td-style">
											<table class="table margin-bottom-dotted-style margin-bottom-0">
												<tr>
													<td colspan="5" class="text-align-left">
														3、微信公众号 -- 躺看影院
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-20">
														项目介绍：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															 1、进入公众号，进入视频网站的主界面。
														</span>
														<span>
															 2、项目分为导航栏，视频区域，广告预留区域，版权说明。点击导航栏的视频分类，可以再视频区域展示相应的视频。
														</span>
														<span>
															 3、主要负责Django + mezzanine + Web前端的工作。
														</span>
														<span>
															 4、项目中除了基本的Django + Web，还运用了ajax的异步加载。
														</span>
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														项目URL：躺看影院（微信公众号）
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														项目角色：前端工程师
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														责任描述：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															  1、负责网站用户体验的前端开发，基于自己开发的Django + mezzanine + Web前端的模板。
														</span>
														<span>
															2、使用HTML/CSS、jquery、rem进行开发编写，适配了大部分的手持设备。
														</span>
														<span>
															 3、使用前端调试工具（开发者工具）console。、Network
														</span>
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														开发者环境/工具：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															Mac系统、pyCharm、django-1.8、Python-2.7/3.6、virtualenv
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>

									<tr>
										<td class="project-outter-td-style">
											<a href="javascript:void(0);" class="next-btns">查看下一项目</a>
											<table class="table margin-bottom-dotted-style margin-bottom-0 display-hidden">
												<tr>
													<td colspan="5" class="text-align-left">
														4、公司官网 -- http://www.topdy.cn
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-20">
														项目介绍：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															 1、网站分为三大区域：Header、Footer、content。
														</span>
														<span>
        													2、header、footer实现了各个界面代码的复用，content区域实现了组件化开发，方便了各个组件位置的自由组合。
														</span>
														<span>
															3、Header部分为了LOGO，NAV、Search、login、Register内容。NAV分为首页、产品页、解决方案、文档四个下拉部分。
															   点击下拉区域可以跳转到相应的产品页。Footer区域除了包含产品信息外，还包含公司二维码、公司信息区域信息。
														</span>
														<span>
        													4、主要负责Django + mezzanine + Web前端的工作。
														</span>
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														项目URL： http://www.topdy.cn
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														项目角色：前端工程师
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														责任描述：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															1、负责网站用户体验的前端开发，基于自己开发的Django + mezzanine + Web前端的模板。
														</span>
														<span>
															2、使用HTML/CSS、jquery、rem进行开发编写，适配了大部分的手持设备。
														</span>
														<span>
															 3、使用前端调试工具（开发者工具）console。、Network
														</span>
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														开发者环境/工具：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															Mac系统、pyCharm、django-1.8、Python-2.7/3.6、virtualenv
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="project-outter-td-style">
											<table class="table margin-bottom-dotted-style margin-bottom-0 display-hidden">
												<tr>
													<td colspan="5" class="text-align-left">
														5、鼎向网络官网 -- http://dingxiangidc.com/
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-20">
														项目介绍：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															  	1、网站分为三大区域：Header、Footer、content。
														</span>
														<span>
        														2、header、footer实现了各个界面代码的复用，content区域实现了组件化开发，方便了各个组件位置的自由组合。
														</span>
														<span>
																3、Header部分为了LOGO，NAV、Search内容。NAV分为首页、产品与服务、数据中心、客服中心、关于我们下拉部分。
																   点击下拉区域可以跳转到相应的产品页。Footer区域除了包含产品信息外，还包含公司二维码、公司信息区域信息。
														</span>
														<span>
        														4、主要负责Django + mezzanine + Web前端的工作。
														</span>
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														项目URL： http://dingxiangidc.com/
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														项目角色：前端工程师
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														责任描述：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															1、负责网站用户体验的前端开发，基于自己开发的Django + mezzanine + Web前端的模板。
														</span>
														<span>
															2、使用HTML/CSS、jquery、rem进行开发编写，适配了大部分的手持设备。
														</span>
														<span>
															 3、使用前端调试工具（开发者工具）console。、Network
														</span>
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														开发者环境/工具：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															Mac系统、pyCharm、django-1.8、Python-2.7/3.6、virtualenv
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="project-outter-td-style">
											<table class="table margin-bottom-dotted-style margin-bottom-0 display-hidden">
												<tr>
													<td colspan="5" class="text-align-left">
														6、公司H5官网 -- http://h5.topdy.cn
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-20">
														项目介绍：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															 1、此页展示的主要是公司的WEB端专业开发技能。
														</span>
														<span>
															2、Header部分为了LOGO，NAV。点击NAV区域信息，即可跳转到相关的网站位置。
															   Footer区域除了包含产品信息外，还包含公司二维码、公司信息区域信息。
														</span>
														<span>
        													3、主要负责Django + mezzanine + Web前端的工作。
														</span>
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														项目URL： http://h5.topdy.cn/
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														项目角色：前端工程师
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														责任描述：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															1、负责网站用户体验的前端开发，基于自己开发的Django + mezzanine + Web前端的模板。
														</span>
														<span>
															2、使用HTML/CSS、jquery、rem进行开发编写，适配了大部分的手持设备。
														</span>
														<span>
															 3、使用前端调试工具（开发者工具）console。、Network
														</span>
													</td>
												</tr>
												<tr>
													<td class="text-align-left text-indent-20">
														开发者环境/工具：
													</td>
												</tr>
												<tr>
													<td colspan="5" class="text-align-left text-indent-40 padding-bottom-20">
														<span>
															Mac系统、pyCharm、django-1.8、Python-2.7/3.6、virtualenv
														</span>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>

						<!--教育经历-->
						<tr>
							<td>
								教育经历
							</td>
							<td colspan="5">

								<table class="table">
									<tr>
										<td class="text-left project-outter-td-style margin-bottom-dotted-style">
											<table class="table">
												<tr>
													<td>在校时间：2006年9月-2009年7月</td>
												</tr>
												<tr>
													<td class="text-left project-outter-td-style">
														毕业院校：淄博职业学院
													</td>
												</tr>
												<tr>
													<td class="text-left project-outter-td-style">
														学历：大专
													</td>
												</tr>
												<tr>
													<td class="text-left project-outter-td-style">
														专业：计算机应用技术
													</td>
												</tr>
											</table>
										</td>
									</tr>
									<tr>
										<td class="text-left project-outter-td-style">
											<table class="table margin-bottom-0">
												<tr>
													<td>在校时间：2016年3月-今</td>
												</tr>
												<tr>
													<td class="text-left project-outter-td-style">
														毕业院校：西北工业大学
													</td>
												</tr>
												<tr>
													<td class="text-left project-outter-td-style">
														学历：本科
													</td>
												</tr>
												<tr>
													<td class="text-left project-outter-td-style">
														专业：计算机应用技术
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!--掌握技能-->
		<div class="parallax-counter-v3 parallaxBg">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-xs-6 margin-bottom-20">
						<div class="features">
						 	<span style="display: inline-block;">
								<span class="counter">90</span>
								<span>%</span>
							</span>
							<div class="features-info">HTML5</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 margin-bottom-20">
						<div class="features">
						 	<span style="display: inline-block;">
								<span class="counter">90</span>
								<span>%</span>
							</span>
							<div class="features-info">webApp</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6">
						<div class="features">
						 	<span style="display: inline-block;">
								<span class="counter">50</span>
								<span>%</span>
							</span>
							<div class="features-info">Vue.js</div>
						</div>
					</div>
					<div class="col-sm-3 col-xs-6">
						<div class="features">
						 	<span style="display: inline-block;">
								<span class="counter">90</span>
								<span>%</span>
							</span>
							<div class="features-info">Django</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <!--End Wrapper-->



    <!--返回顶部-->
    <div class="to-top" id="to-top">Top</div>

    <!-- JS Global Compulsory -->
    <script src="../assets/plugins/jquery/jquery.min.js"></script>
    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
	<script type="text/javascript" src="../assets/plugins/counter/waypoints.min.js"></script>
	<script type="text/javascript" src="../assets/plugins/counter/jquery.counterup.min.js"></script>
    <script src="../assets/plugins/master-slider/masterslider/jquery.easing.min.js"></script>

    <!-- JS Customization -->
    <script src="../assets/js/custom.js"></script>

    <!-- JS Page Level -->
	<script>
		$('.counter').counterUp({
			delay: 10,
			time: 1000
		});
	</script>
    <!--[if lt IE 9]>
        <script src="../assets/plugins/respond.js"></script>
        <script src="../assets/plugins/html5shiv.js"></script>
        <script src="../assets/plugins/placeholder-IE-fixes.js"></script>
    <![endif]-->

</body>
</body>
</html>