@charset "UTF-8";
.padding-bottom-40{
    padding-bottom: 40px;
}
.footer .footer-title{
    font-size: 24px;
    color: #666;
    text-align: center;
}

.footer .footer-top ul{
    margin-top:10px;
    list-style: none;
}
.footer ul li.list-group-item{
    padding: 6px 0;
    border: none !important;
    background-color: transparent !important;
}
.footer ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
}
.footer ul li a:hover{
    text-decoration: none;
}
.content-sm{
    padding: 10px 0 5px;
}

.footer.background-md {
    padding: 40px 0;
    background-color: #222;
}

.footer .copyright p{
    font-size: 16px;
    color: #fff;
}